body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

td,
th {
  margin: 10px 0;
  text-align: center;
}

p{
  padding: 7px;
  cursor: pointer;
&:hover{
  color: red;
}

}


h4{
  margin: 10px;
  margin-left: 7px;
}


.favourite path{
color: red;
}

